<!-- Favicon -->
<link rel="icon" type="image" href="/static/img/favicon.png">

<!-- Navigation bar -->
<a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>

{% if user.is_authenticated %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i></a>
        <div class="dropdown-menu">
            {% if user.is_superuser or user.is_staff %}
                <a href="{% url 'admin:index' %}" class="dropdown-item">Dashboard</a>
            {% else %}
                <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>  <!-- This is the logout link -->
        </div>
    </div>
{% else %}
    <a href="{% url 'register' %}" class="nav-link"><i class="fas fa-user"></i></a>
{% endif %}
